ul.link-list
	- public.articles._data.reverse();
	each article, slug in public.articles._data 
		if article.content_type != '2'
		li.link-list__item
			a(href="/articles/#{ article.slug }" class="link-list__link link") #{ article.title }
